{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <form method="post" action="" class="form-inline">
            {% csrf_token %}
            <div class="form-group">
                <select class="form-control" id="parameterSelect" name="parameter">
                    <option>Tümü</option>
                    <option>İsim</option>                   
                </select>
            </div>
            <div class="form-group">
                <input name="query" type="text" class="form-control" id="queryText" placeholder="Sorgunuzu giriniz">
            </div>
            <div class="form-group">
                <input type="submit" value="Kitap Ara" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock content %}